@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Helvetica, Arial, "微軟正黑體", Heiti TC, "メイリオ", sans-serif;
  font-size: 16px;
  font-weight: 400;

  color-scheme: light dark;
  color: #050505;
  background-color: #fff;
}
body {
  min-width: 100vw;
  min-height: 100vh;
}
#app {
  height: 100vh;
}

.title {
  font-size: 38px;
  font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
  letter-spacing: 0.5px;
}
.subTitle {
  font-size: 17px;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  color: #888888;
  letter-spacing: 1px;
}
